.diagram-toolbox {
	
	.row {
		fill: #888;
		height: 1.2rem;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		border-radius: .1rem;
		border-bottom: solid .05rem #555;

		&>div {
			height: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			font-size: .9rem;
		}
	}

	.row:hover {
		background-color: #6f6;
		color: #000;
	}
}