.origin-pointer {
	.arrow-shake {
		animation: shake 5s normal;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		animation-play-state: running;
	}

	@keyframes shake {
		0% {
			transform: translateX(0px);
		}

		84% {
			fill: #5053;
		}

		85% {
			transform: translateX(0px);
		}

		87% {
			fill: #5056;
			transform: translateX(-30px);
		}

		89% {
			transform: translateX(0px);
		}

		91% {
			transform: translateX(-30px);
		}

		93% {
			transform: translateX(0px);
		}

		95% {
			fill: #5056;
			transform: translateX(-30px);
		}

		97% {
			transform: translateX(0px);
		}

		100% {
			fill: #5053;
		}
	}
}
