.rel-editor {

	//box-shadow: .2rem .2rem .2rem rgba(#000, .5);
	padding: 0;
	color: #ddd;
	font-size: .7rem;

	.header {
		display: flex;
		flex-direction: row;
		background-color: #444;
		align-items: center;

		.rel-name {
			text-align: left;
			white-space: nowrap;
			flex: 1 1 auto;
			cursor: pointer;
		}
	}
	.rel-editor_row {
		display: flex;
		flex-direction: row;
		padding: 0;
		border-top: solid #555 .01rem;
		white-space: nowrap;
		//overflow: hidden;

		button {
			background-color: #555;
			color: #5af;
		}

		.action-button {
			width: 100%;
		}
	}

	.new {
		background-color: #0a5;
		height: .4rem;

	}

	.active {
		height: unset;
	}

	// 	&:nth-last-child(1) {
	// 		border: none
	// 	}

	// 	.rel-editor_cell {
	// 		display: flex;
	// 		flex-direction: row;
	// 		align-items: center;

	// 	}

	// 	.editable {
	// 		background: rgba(#03a, .2);
	// 		border: solid .1rem rgba(#03a, .2);
	// 		padding-left: .2rem;
	// 		padding-right: .2rem;
	// 	}

	// 	.tag {
	// 		padding-left: .2rem;
	// 		padding-right: .2rem;
	// 	}
	// }

}